# List of ignores most of which are not needed for the original distribution
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.stackdump
*.log

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache

# Created by "./make config; make" or by "make" in the pascal directory
/config.log
/config.status
/dpic
/Makefile
src/controlerr.i
src/dp0.h
src/dpic.a
src/dpic.b
src/dpic.c
src/dpic.p
src/dpic1.p
src/entryhp.h
src/entrytv.h
src/lexedit1
src/lexedit2
src/lextable.i
src/lxch.h
src/lxcst.h
src/lxhp.h
src/lxnp.h
src/lxtv.h
src/mfp.h
src/mpo.h
src/p2c/home
src/p2c/p2c
src/p2c/p2cc
src/p2c/src/Makefile
src/parscdc.i
src/parscst.i
src/parserr.i
src/parstab.i
src/pascal/Makefile
src/pascal/controlerr.i
src/pascal/dp0.h
src/pascal/dp0.x
src/pascal/dpic.p
src/pascal/dpic.x
src/pascal/dpic1.x
src/pascal/lexedit
src/pascal/lexedit1
src/pascal/lexedit2
src/pascal/lextable
src/pascal/lxcst.h
src/pascal/Makefile
src/pascal/mfp.h
src/pascal/mfp.x
src/pascal/mpo.h
src/pascal/mpo.x
src/pascal/parscdc.i
src/pascal/parscst.i
src/pascal/parserr.i
src/pascal/parstab
src/pascal/parstabl
src/pascal/pdf.h
src/pascal/pdf.x
src/pascal/PG.out
src/pascal/pgf.h
src/pascal/pgf.x
src/pascal/ps.h
src/pascal/ps.x
src/pascal/pst.h
src/pascal/pst.x
src/pascal/svg.h
src/pascal/svg.x
src/pascal/sysdep.h
src/pascal/sysdep.x
src/pascal/test/dpic.tab
src/pascal/tex.h
src/pascal/tex.x
src/pascal/xfig.h
src/pascal/xfig.x
src/pdf.h
src/Pgen/PG
src/Pgen/PGc
src/Pgen/PGf
src/Pgen/PGp
src/Pgen/src/Makefile
src/Pgen/src/PG
src/Pgen/src/PGc
src/Pgen/src/PGf
src/Pgen/src/PGp
src/pgf.h
src/ps.h
src/pst.h
src/removedata
src/svg.h
src/sysdep.h
src/tables/lexedit
src/tables/lexedit1
src/tables/lexedit2
src/tables/lextable
src/tables/lextable.i
src/tables/lrmax
src/tables/parscdc.i
src/tables/parscst
src/tables/parscst.i
src/tables/parserr
src/tables/parserr.i
src/tables/parstab
src/tables/parstab.i
src/tables/parstabl
src/tables/pg.list
src/tables/PG.out
src/tex.h
src/U1.sed
src/U2.sed
src/xfig.h
